body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fff;
}
table {
  border-collapse: separate;
  border-spacing: 0 1em;
  width: 100%;
}

.App {
  text-align: center;
  background: #fff;
  input {
    background: #fff;
    border: 1px solid #d6d6d6;
    padding: 5px;
    width: 100%;
  }
  .fa-trash{
    color: #f00;
  }
  .fa-plus{
    color: #0074f4;
  }
}
